.input-field-container {
  margin-bottom: 15px;
  position: relative;
}

.input-field-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #fff;
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-icon input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 2px solid #ddd;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}

.input-with-icon input:focus {
  border-color: rgb(6, 176, 255);
  box-shadow: 0 0 5px rgb(3, 103, 150);
}

.input-with-icon input.success {
  border-color: #52c41a;
}

.input-with-icon input.error {
  border-color: #f7060a;
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #888;
  font-size: 18px;
  transition: color 0.3s;
}

.eye-icon:hover {
  color: rgb(3, 103, 150);
}

.error-text {
  color: #f1080c;
  font-size: 12px;
  margin-top: 5px;
}
